<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Sistema de Cadastro">
        <meta name="author" content="Chrystian Cavalcante">
        <link rel="icon" href="">
        <title>
            Teste MDC
        </title>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
        <link href="/css/dashboard.css" rel="stylesheet">
        <script src="/lib/angular/angular.js"></script>
        <script src="/lib/angular/angular-messages.js"></script>
        <script src="/javascripts/cep.js"></script>
        <script src="/js/app.js"></script>
        <script src="/js/controller/testeMdcCtrl.js"></script>
    </head>