<!DOCTYPE html>
<html ng-app="testeMdc">
<% include elements/head %>
<!--=========================body=======================-->
    <body class="bg-dark" ng-controller="testeMdcCtrl">
        <% include elements/top %>
            <div class="container-fluid">
                <div class="row">
                    <% include elements/menu %>
                        <% include admin/cliente %>
                </div>
            </div>
            <!--====================Modal=========================-->
            <% include elements/frmCliente %>
                <% include elements/frmEditar %>
                    <!--=============================Footer========================-->

                    <% include elements/footer %>
